:root {
    /* Primary Colors */
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);
    /* Neutral Colors */
    --main-BG: hsl(217, 54%, 11%);
    --card-BG: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --White: hsl(0, 0%, 100%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Outfit',sans-serif;
    background-color: var(--main-BG);
}
.container{
    max-width: 350px;
    margin: 0 auto;
}
.wrapper{
    margin: 2rem 1rem;
    padding: 20px;
    background-color: var(--card-BG);
    border-radius: 15px;
}
.img-top{
    position: relative;
    border-radius: 12px;
    overflow: hidden;
}
.img-top img{
    width: 100%;
    display: block;
}
.img-overlay img{
    position: absolute;
    width: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: hsla(178, 100%, 50%,.5);
    display: none;
}
.img-top:hover .img-overlay{
    display: block;
}
.box-text a{
    color: var(--White);
    text-decoration: none;
    font-weight: 600;
    font-size: 21px;
    padding: 20px 0px;
    display: inline-block;
}
.box-text a:hover{
    color: var(--Cyan);
}
.box-text p{
    color: var(--Soft-blue);
}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0px;
}
.eth, .days{
    display: flex;
    align-items: center;
}
.eth p{
    color: var(--Cyan);
    font-weight: 600;
    padding-left: 7px;
}
.days p{
    padding-left: 7px;
}
hr{
    border-color: hsl(215, 32%, 27%);
}

.author{
    display: flex;
    align-items: center;
    padding-top: 5px;
}
.author img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    margin-right: 15px;
}
.author p a{
    color: white;
    font-size: 16px;

}
